{{- range $service := .Values.services }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $service.name }}
  labels:
    app: {{ $service.name }}
    {{- include "onlineboutique.labels" $ | nindent 4 }}
spec:
  replicas: {{ $.Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ $service.name }}
  template:
    metadata:
      labels:
        app: {{ $service.name }}
        {{- include "onlineboutique.selectorLabels" $ | nindent 8 }}
    spec:
      containers:
        - name: {{ $service.name }}
          image: "{{ $service.image }}"
          args:
            - "--disable-profiler=true"
          ports:
            - containerPort: 80
          env:
            {{- with $service.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml $.Values.resources | nindent 12 }}
      imagePullSecrets:
        - name: {{ $.Values.imagePullSecretsName }}
---
{{- end }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:latest
          ports:
            - containerPort: 6379
          volumeMounts:
            - mountPath: /data
              name: redis-storage
          securityContext:
            allowPrivilegeEscalation: false
      volumes:
        - name: redis-storage
          persistentVolumeClaim:
            claimName: redis-pvc
