{{- range .Values.services }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .name }}
  labels:
    app: {{ .name }}
    {{- include "onlineboutique.labels" . | nindent 4 }}
spec:
  replicas: {{ $.Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .name }}
  template:
    metadata:
      labels:
        app: {{ .name }}
        {{- include "onlineboutique.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .name }}
          image: "{{ .image }}"
          args:
            - "--disable-profiler=true"
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          resources:
            {{- toYaml $.Values.resources | nindent 12 }}
      imagePullSecrets:
        - name: {{ $.Values.imagePullSecretsName }}
      serviceAccountName: {{ include "onlineboutique.serviceAccountName" . }}
{{- end }}
