{{- range $service := .Values.services }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $service.name }}
  labels:
    app: {{ $service.name }}
    {{- include "onlineboutique.labels" $ | nindent 4 }}
spec:
  replicas: {{ $.Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ $service.name }}
  template:
    metadata:
      labels:
        app: {{ $service.name }}
        {{- include "onlineboutique.selectorLabels" $ | nindent 8 }}
    spec:
      containers:
        - name: {{ $service.name }}
          image: "{{ $service.image }}"
          args:
            - "--disable-profiler=true"
          ports:
            - containerPort: 80
          env:
            {{- with $service.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          resources:
            {{- toYaml $.Values.resources | nindent 12 }}
      imagePullSecrets:
        - name: {{ $.Values.imagePullSecretsName }}
      serviceAccountName: {{ include "onlineboutique.serviceAccountName" $ }}
{{- end }}
