{{- range $name, $service := .Values.services }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $name }}
  labels:
    app: {{ $name }}
    {{- include "onlineboutique.labels" $ | nindent 4 }}
spec:
  replicas: {{ $.Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ $name }}
  template:
    metadata:
      labels:
        app: {{ $name }}
        {{- include "onlineboutique.selectorLabels" $ | nindent 8 }}
    spec:
      containers:
        - name: {{ $name }}
          image: "{{ $.Values.image.repository }}/{{ $service.image }}:{{ $.Values.image.tag }}"
          args:
            {{- with $service.args }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - containerPort: 80
          resources:
            {{- if $service.resources }}
            {{- toYaml $service.resources | nindent 12 }}
            {{- else }}
            {{- toYaml $.Values.resources | nindent 12 }}
            {{- end }}
      {{- with $.Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "onlineboutique.serviceAccountName" $ }}
{{- end }}
