{{- if .Values.ingressEnabled -}}
{{- range $service := .Values.services }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $service.name }}
  labels:
    app: {{ $service.name }}
    {{- include "onlineboutique.labels" $ | nindent 4 }}
  {{- with $.Values.ingressAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  rules:
    {{- range $.Values.ingressHosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            {{- if $.Capabilities.KubeVersion.GitVersion | semverCompare ">=1.18-0" }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              service:
                name: {{ $service.name }}
                port:
                  number: {{ $.Values.servicePort }}
          {{- end }}
    {{- end }}
  {{- if $.Values.tls }}
  tls:
    {{- range $.Values.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
{{- end }}
---
{{- end }}
