{{- range $service := .Values.services }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $service.name }}
spec:
  type: ClusterIP
  ports:
    {{- range $port := $service.ports }}
    - port: {{ $port.containerPort }}
      targetPort: {{ $port.containerPort }}
    {{- end }}
  selector:
    app: {{ $service.name }}
---
{{- end }}

apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    app: redis
